# lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock

# shadcn components
src/components/ui/

# misc
routeTree.gen.ts
.tanstack/
drizzle/
.drizzle/

# build outputs
.vercel
.output
.wrangler
.netlify
dist